gss_unwrap_iov interop issues with SSPI and MIT krb5

**Describe the bug**
I apologise if this isn't a bug but I'm having difficulties trying to use `gss_unwrap_iov` with data from SSPI. On MIT Kerberos I use the following IOV buffers in the unwrap call

```text
iov[0] - GSS_IOV_BUFFER_TYPE_HEADER - header bytes
iov[1] - GSS_IOV_BUFFER_TYPE_DATA - wrapped message
iov[2] - GSS_IOV_BUFFER_TYPE_DATA - no bytes
```

This works just fine for both MIT krb5 and also with SSPI with the equivalent `SECBUFFER_TOKEN` and `SECBUFFER_DATA` buffer types but this will fail on Heimdal with

```text
Miscellaneous failure (see text), Minor (22): unknown mech-code 22 for mech unknown
```

I've stepped through the code and have determined the failure comes from [_gk_verify_buffers](https://github.com/heimdal/heimdal/blob/1d4ebc0df798cb1d8edca910b806e55c6c19bccb/lib/gssapi/krb5/cfx.c#L238-L273). More specifically it is returning `EINVAL` [here](https://github.com/heimdal/heimdal/blob/1d4ebc0df798cb1d8edca910b806e55c6c19bccb/lib/gssapi/krb5/cfx.c#L267) because it requires a `GSS_IOV_BUFFER_TYPE_PADDING` buffer.

I can change the 3rd buffer to `GSS_IOV_BUFFER_TYPE_PADDING` and Heimdal will unwrap the data without any problems but this setup will fail on both SSPI on windows and MIT krb5. Both those providers expect the 3rd buffer to be of the type `DATA` and not `PADDING` in the unwrapping phase.

I honestly don't know what is right here and the whole IOV buffers are quite confusing for me but I'm hoping to either

1. Have a common way forward if possible
2. Find a way to determine at runtime that the GSSAPI library is Heimdal based and conditionally set that third buffer type for this unwrap process

To throw another spanner in the works, this particular process works just fine for both the AES etypes as well as the RC4 etype on both MIT krb5. Unfortunately even with the third buffer being a `PADDING` type it will fail on the RC4 encryption. It seems like the RC4 process expects a fixed buffer length of 1 but even when I do that it fails saying the MIC is incorrect.

**To Reproduce**
This is quite difficult to produce but I do have a Python script that can be run against a Windows host to simulate this behaviour. I'm basically trying to wrap/unwrap data that is exchanged on a WinRM exchange which is where SSPI fits in. The issue here is getting all the deps put together to actually run it. If you wish to see this I can probably provide steps to run in a Docker container for testing.

**Expected behavior**
The same IOV buffers on SSPI, MIT krb5, and Heimdal should act the same.

**Desktop (please complete the following information):**
 - Fedora but seems to be a problem even when compiling the Heimdal 7.7.0 release from scratch
 - Talking to Windows from Server 2012 and newer

These code paths are super-complicated and I haven't looked at them for some years (I wrote the MIT implementation but not the Heimdal one).

Reading through the MIT code, `PADDING` *should* be required for RC4 wrap tokens (see `make_seal_token_v1_iov()`). I believe setting the third buffer to `PADDING` is the right thing to do.

Is there any reason you need to use `gss_wrap_iov()` instead of `gss_wrap()`?

[This](https://k5wiki.kerberos.org/wiki/Projects/GSSAPI_DCE) may be worth a read too.

Having said that, if Heimdal doesn't match MIT in this case, I would suggest it's most likely a bug in Heimdal.

Yea all this is crazy complicated to me and I'm really just hopeful that I can solve it in a simple manner but we shall see.

In this particular situation for WinRM message encryption it needs to be done in a particular manner but it is not really documented too well. Most of this knowledge is based on the data [documented by Microsoft](https://docs.microsoft.com/en-us/windows/win32/secauthn/sspi-kerberos-interoperability-with-gssapi) for SSPI/GSSAPI interop.

To wrap a message for WinRM in SSPI I would use the following buffers in `EncryptMessage`

```text
SecBufferDesc(
    ulVersion=0,
    cBuffers=3,
    pBuffers=[
        SecBuffer(cbBuffer=SecurityTrailerSize, BufferType=SECBUFFER_TOKEN, pvBuffer=malloc(cbBuffer)),
        SecBuffer(cbBuffer=sizeof(data), BufferType=SECBUFFER_DATA, pvBuffer=data),
        SecBuffer(cbBuffer=BlockSize, BufferType=SECBUFFER_PADDING, pvBuffer=malloc(cbBuffer)),
    ]
)
```

A few things to note

* `SecurityTrailerSize` and `BlockSize` are values based on the negotiated protocol, SSPI provides a way to get these values from a context
* `SECBUFFER_TOKEN` has a value of `2` and is meant to be the same as `GSS_IOV_BUFFER_TYPE_HEADER`

For both MIT and Heimdal I would use the following buffers in `gss_wrap_iov`

```text
[
    gss_iov_buffer_desc(type=GSS_IOV_BUFFER_TYPE_HEADER|GSS_IOV_BUFFER_FLAG_ALLOCATE, buffer=None),
    gss_iov_buffer_desc(type=GSS_IOV_BUFFER_TYPE_DATA, buffer=data),
    gss_iov_buffer_desc(type=GSS_IOV_BUFFER_TYPE_PADDING|GSS_IOV_BUFFER_FLAG_ALLOCATE, buffer=None),
]
```

This works just fine for both MIT and Heimdal and while the MS docs state that this is to interop with `gss_wrap` I need to use the IOV variants in this particular scenario because I need to separate the header and data as part of the WinRM protocol. This even works for RC4 on both MIT and Heimdal and I'm happy with how both versions work. The problem is on the unwrapping side.

When it comes to unwrapping I have both the `header` and `data` as 2 separate blocks of data. For SSPI I currently do the following

```text
SecBufferDesc(
    ulVersion=0,
    cBuffers=3,
    pBuffers=[
        SecBuffer(cbBuffer=sizeof(header), BufferType=SECBUFFER_TOKEN, pvBuffer=header),
        SecBuffer(cbBuffer=sizeof(data), BufferType=SECBUFFER_DATA, pvBuffer=data),
        SecBuffer(cbBuffer=0, BufferType=SECBUFFER_DATA, pvBuffer=NULL),
    ]
)
```

Why this works, I have no idea, it's just based on the equivalent buffers that I've seen work in this situation for GSSAPI. For MIT krb5 I would use the following buffers

```text
[
    gss_iov_buffer_desc(type=GSS_IOV_BUFFER_TYPE_HEADER, buffer=header),
    gss_iov_buffer_desc(type=GSS_IOV_BUFFER_TYPE_DATA, buffer=data),
    gss_iov_buffer_desc(type=GSS_IOV_BUFFER_TYPE_DATA, buffer=None),
]
```

This works just fine for both unwrapping AES and RC4 encrypted streams and based on my understanding the last data buffer is used for the padding somehow.

Unfortunately this will fail on Heimdal because there is no `GSS_IOV_BUFFER_TYPE_PADDING` buffer present. I can swap out the last buffer with `gss_iov_buffer(type=GSS_IOV_BUFFER_TYPE_PADDING|GSS_IOV_BUFFER_FLAG_ALLOCATE, buffer=None)` and Heimdal will be able to unwrap AES encrypted messages but not RC4.

I've found that the RC4 path expects the 3rd buffer should have a set length of `1` but even if I set that it fails to verify the token and still fail.

If I only had to deal with AES etypes I can actually just call `gss_unwrap(header + data)` but unfortunate this situation does not work when dealing with RC4 etypes. Ultimately it seems like I have a choice

* Use `gss_unwrap()` and just never work with RC4
* Somehow determine whether Heimdal or MIT is being used to set the 3rd buffer type accordingly, no RC4 for Heimdal but at least it works for MIT
* ??? Some other suggestion I can't think of

Ultimately I feel like I'm just going to go with `gss_unwrap()` here. It will work with existing installations that are out there today with the sole exception of no RC4 support which isn't a big deal.

OK, so I think MIT is most likely doing the right thing, at least I spent a lot of time trying to get this right back around 2009 and handle all the permutations of possibly optional padding and trailer buffers :)

Confirm for me: WinRM is not using `GSS_C_DCE_STYLE`, is it?

I'm surprised MIT is failing where there is a padding buffer present. Does it fail in the wrap or unwrap path, or both? For an older enctype such as RC4 ("V1 tokens"), a padding buffer is be mandatory on wrap unless `GSS_C_DCE_STYLE` is set (see `make_seal_token_v1_iov()`). In the unwrap case, you should pass the header in as a `GSS_IOV_BUFFER_TYPE_STREAM` buffer (with one or more `DATA` buffers and no `PADDING` buffer), or initialise the padding buffer to the last byte of the data token; in either case, `kg_fixup_padding_iov()` will arrange things such that upon return, the last `DATA` buffer does not include the padding bytes.

Again speaking to MIT: for a newer enctype such as AES ("V3 tokens"), the padding buffer is ignored and is initialised to zero, as the header is arranged such that any padding (if required) is rotated into it. (Because AES is used in CTS mode, no padding is ever required.) However, it is safe to pass a padding buffer, it will just be initialised to zero on wrap output, and verified to be zero length on unwrap input.

So, I would say, let's figure out why it's not working with `PADDING` as that's the API that should be used for both (actually, `STREAM` should be used, but MIT doesn't support that).

AFAIK it's not using DCE style, I'm not opting into it at all. MIT or Heimdal isn't failing for `wrap` at all on both AES or RC4 which is great. The data they both produce in this situation is accepting by SSPI so I know I've got that right. The problem is when it comes to unwrap the data from SSPI.

I'll need to set up MIT krb5 first so I can step through it and try and determine why it's failing when padding is set on unwrap_iov.

Are you setting `PADDING` to point to the last byte of the token you receive from SSPI? In the RC4 case (only MIT supports DES with `gss_wrap_iov()`, so you can ignore that for Heimdal), it's just going to contain a single byte containing (after decryption) the value 0x01, indicating that there is but one byte of padding.

(Obviously, this is a terrible API, because the application shouldn't know how much padding is required; that's why we added `STREAM` to MIT, so that you pass in the header as `STREAM` and as many `DATA` IOVs as you like. Unfortunately, `STREAM` is not implemented by Heimdal.)

(However from reading the code, setting `PADDING` to point to the last byte of the wrapped token should work for both MIT and Heimdal with all supported enctypes. Its contents of course can be ignored at the application layer.)

MIT hints: break on `kg_unseal_v1_iov()` and `kg_fixup_padding_iov()` for RC4, and `gss_krb5int_unseal_v3_iov()` for AES.

Another part of my problem is I'm running this on Python through [python-gssapi](https://github.com/pythongssapi/python-gssapi) so I'm potentially limited with what I could do. But I'll step through that code to try and learn from more there.

Hmm, OK, with MIT it looks like for AES, on unwrap, `PADDING` length must be zero, whereas for RC4, it must be at least one. This is a bit of an abstraction violation for the application (which, again, is avoided if you use `STREAM` on MIT). Short of adding `STREAM` support for Heimdal (which we could do, but it would probably need to be a consulting engagement were I to do it), then as long as you emit the first token you can figure out whether you are using RC4 or AES by checking whether your first wrap token has a non-zero padding length. On subsequent calls to `gss_unwrap_iov()`, you can use this hint to figure out whether to pass in zero padding or not.

Otherwise, you might need to extract the session key from the GSS-API context and switch behaviour based on the encryption type, which is pretty ugly. :(

Have a look at `kg_unseal_stream_iov()` in MIT, to understand how I intended this API to work (again, pending actual support in Heimdal).

```c
/*
 * Split a STREAM | SIGN_DATA | DATA into
 *         HEADER | SIGN_DATA | DATA | PADDING | TRAILER
 */
static OM_uint32
kg_unseal_stream_iov(OM_uint32 *minor_status,
                     krb5_gss_ctx_id_rec *ctx,
                     int *conf_state,
                     gss_qop_t *qop_state,
                     gss_iov_buffer_desc *iov,
                     int iov_count,
                     int toktype);
```

If you can get `STREAM` working (unwrap only) with MIT, then maybe I can take a look at implementing it for Heimdal... because that is the right API to use for what you want to do. (BTW, where is this protocol defined? Having to split the GSS header is kind of unusual.)

The actual docs for this are under [MS-WSMV](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-wsmv/3fc54d8b-b087-486e-9f50-8253e9e30b43). The reason why the header and data are separate is only because the actual encrypted bytes sent in the HTTP packet needs to have an unsigned 32 bit integer that denote the size of the header. For NTLM this is easy because the header is always 16 bytes long but for Kerberos this seems to be variable. This is why the IOV functions are used because it keeps the header and data as separate buffers and I can easily get the length of the header for the HTTP payload. 

`STREAM` technically works for unwrap as I can just combine the header and data and send it to `gss_unwrap`. For MIT using `gss_unwrap` is perfectly fine when AES is used but for RC4 the unwrap result seems to have 62 bytes stripped off which is not good.

I finally got my environment set up to step through the code. It's getting late for me so I'll play around a bit and will continue to look into it tomorrow.

`STREAM` you just pass the header in to the `STREAM` buffer, `DATA` is as-is. You don't combine the header and data as you would were you passing it to `gss_unwrap()`. See above :)

Re: the spec, it could be that the RC4 length only includes the length of the header, not the entire message, as is the case for `GSS_C_DCE_STYLE`. e.g. in MIT `kg_unseal_iov_token()`, see how `input_length` only includes the data length if `GSS_C_DCE_STYLE` is unset. But you seem pretty sure that `GSS_C_DCE_STYLE` isn't use in context establishment?

@lhoward it might be worth reviewing some of the changes that Apple made in this area.

So when doing the `STREAM` and `DATA` example

```
gss_iov_buffer_desc(type=GSS_IOV_BUFFER_TYPE_STREAM, buffer=header),
gss_iov_buffer_desc(type=GSS_IOV_BUFFER_TYPE_DATA, buffer=data),
```

It fails in RC4 with

> Major (589824): Invalid token was supplied, Minor (2249944332): Token header is malformed or corrupt

or with AES

> Major (393216): A token had an invalid Message Integrity Check (MIC), Minor (2529638943): Decrypt integrity check failed

Just in case I misinterpreted what you suggested I also tried

```
gss_iov_buffer_desc(type=GSS_IOV_BUFFER_TYPE_STREAM, buffer=header + data),
gss_iov_buffer_desc(type=GSS_IOV_BUFFER_TYPE_DATA, buffer=None),
```

Which doesn't fail but has the same problem as `gss_unwrap` where the `DATA` buffer is truncated when using RC4.

> Re: the spec, it could be that the RC4 length only includes the length of the header

The `Length-Field` is always the size of the header.

> But you seem pretty sure that GSS_C_DCE_STYLE isn't use in context establishment?

I'm not setting anything in regards to this when generating the context so I would be surprised if it is being used somehow.

@jaltman I haven't done an in-depth review but I think the Heimdal code is more advanced in this case, the Apple code doesn't support RC4 at all for `gss_wrap_iov()`.

@jborean93 confirming you are checking `STREAM` against MIT and not Heimdal

Yes that’s correct, built from what’s in the git repo right now.

Can you step into `kg_unseal_stream_iov()` and let me know where it fails? `GSS_IOV_BUFFER_TYPE_STREAM` is exercised by the MIT Kerberos test suite, so it *should* work. (cc @greghudson)

```c
    /* Wrap a standard token and unwrap it using a stream buffer. */
    memcpy(data, string3, strlen(string3) + 1);
    wrap_std(ctx1, data, iov, conf);
    concat_iov(iov, 4, &fulltoken, &len);
    stiov[0].type = GSS_IOV_BUFFER_TYPE_STREAM;
    stiov[0].buffer.value = fulltoken;
    stiov[0].buffer.length = len;
    stiov[1].type = GSS_IOV_BUFFER_TYPE_DATA;
    major = gss_unwrap_iov(&minor, ctx2, &oconf, &qop, stiov, 2);
    check_gsserr("gss_unwrap_iov(std3)", major, minor);
    if (oconf != conf || qop != GSS_C_QOP_DEFAULT)
        errout("gss_unwrap_iov(std3) conf/qop");
    if (stiov[1].buffer.length != strlen(string3) ||
        memcmp(stiov[1].buffer.value, string3, strlen(string3)) != 0)
        errout("gss_unwrap_iov(std3) decryption");
    offset = (char *)stiov[1].buffer.value - fulltoken;
    if (offset < 0 || (size_t)offset > len)
        errout("gss_unwrap_iov(std3) offset");
    (void)gss_release_iov_buffer(&minor, iov, 4);
    free(fulltoken);
```


Sure thing, unfortunately I’ve got to head out for the night so it will be the first thing I do tomorrow morning.

A possible point of miscommunication: as I understand STREAM iov decryption support, you pass the entire token as the STREAM buffer, and a single data buffer which gets initialized to the decrypted plaintext.  Luke described it differently when he first referred to it.

I also read back and saw:
> For MIT using gss_unwrap is perfectly fine when AES is used but for RC4 the unwrap result seems to have 62 bytes stripped off which is not good
I really want to know what's going on here; that's bizarre.

Sorry for the delay. I did some more debugging for @lhoward suggestion of the header in the STREAM and data in the DATA buffer and found it is failing at the following locations

```
## When using <IOV STREAM(header) | DATA(data)>
RC4
    kg_unseal_stream_iov()->g_verify_token_header()
        if (seqsize != toksize) { return(G_BAD_TOK_HEADER) }  # seqsize == 3085, toksize == 43

AES
    kg_unseal_stream_iov()->kg_unseal_iov_token()->gss_krb5int_unseal_v3_iov()->kg_decrypt_iov()->krb5_k_decrypt_iov()->krb5int_dk_decrypt()->k5_bcmp
```

It does feel like this is the wrong method to use as even [Microsoft's SSPI interop docs](https://docs.microsoft.com/en-us/windows/win32/secauthn/sspi-kerberos-interoperability-with-gssapi) suggest that the equivalent of `gss_unwrap` is to have the first buffer as the full message and the 2nd buffer as an empty DATA buffer. After unwrapping that 2nd buffer points to the location in the first where the bytes were decrypted in place.

So while doing `<IOV STREAM(header + data) | DATA(empty)>` works just fine for AES encryption as I mentioned before it has the incorrect length when RC4 is used and the data is cut off. I'm still trying to look at the raw data and see if maybe the bug is in python-gssapi so I will get back to you there.

Sorry, looks like I totally misguided you there with STREAM. My apologies. I’ll look further later.

No worrie lhoward, I really appreciate the time you've put into this so far.

Here is some more information after looking at the values of the structures and the memory it points to

```
iov[0]->buffer.length = 3089
iov[0]->buffer.value = 0xb39890

iov[1]->buffer.length = 2980
iov[1]->buffer.value = 0xb398bf
```

In this particular case WinRM reports the header as 47 bytes long and states the expected length of the unwrapped message should be 3042 bytes.

When looking at `iov[0]` I can see that the first 47 bytes is indeed the 47 bytes long and immediately following that is the message decrypted in place. The full buffer is 3089 bytes long which is equal to the header size + the expected message size and the buffer contains the full message.

`iov[1]` has a memory address of `0xb398bf` which is at an offset of 47 of `iov[0]->buffer.value so we know it points to the correct location of the decrypted message. The trouble is the length is set to only `2980` which is 62 bytes short of the actual message length hence why the buffer value seems to be cut off.

When stepping through `kg_unseal_stream_iov()` I've found the following

* The header length is set to the correct value of `47` [here](https://github.com/krb5/krb5/blob/99f7ad2831a01f264c07eed42a0a3a9336b86184/src/lib/gssapi/krb5/k5unsealiov.c#L516)
* It is correctly setting the DATA buffer address [here](https://github.com/krb5/krb5/blob/99f7ad2831a01f264c07eed42a0a3a9336b86184/src/lib/gssapi/krb5/k5unsealiov.c#L566), basically STREAM address + header length

It then goes into `kg_unseal_iov_token()` to do the unwrapping and here are some observations

* It is not using DCE style
* It eventually calls `kg_unseal_v1_iov()`

For `kg_unseal_v1_iov()`

* The seal algorithm is `SEAL_ALG_MICROSOFT_RC4`
* After calling `kg_arcfour_docrypt_iov()` `iov[1]->buffer.length` is still `3041`
* Still `3041` after `kg_make_checksum_iov_v1()`
* The length of `iov[1]->buffer` is changed at the call to [kg_fixup_padding_iov()](https://github.com/krb5/krb5/blob/ebbc6e8e99ee9d5d757411200a6a3173171774df/src/lib/gssapi/krb5/k5unsealiov.c#L239)

It seems like at this point the padding buffer that is being managed by MIT krb5 has a length of 1 and points to the address straight after `iov[1]->buffer.value`. In this case the message is an XML string so the last char there is `>` which encoded to bytes has a decimal value of 62. This explains why the final buffer length is 62 short of what it should be (2980 + 62 = 3042).

On a side note, when doing just `gss_unwrap()` and passing in the header + data together it works on both MIT and Heimdal for AES encryption. It even works for Heimdal with RC4 encryption but MIT suffers from the same problem where an RC4 unwrapped message is too short. This tells me that the code paths used in both these scenarios are similar and there might be something wrong with the logic in MIT.

Thanks for the excellent diagnosis and debugging! So, it sounds like RC4 is using no padding, or the padding is getting discarded somewhere along the way. I think I may have seen this once, although my memory is hazy and I thought it only occurred with `GSS_C_DCE_STYLE`. The SSPI peer is Microsoft code, not yours, right?

> The SSPI peer is Microsoft code, not yours, right?

Yes that's correct, when looking at the RC4 exchange from MIT to MIT I can see that the raw bytes now turn into `<HEADER><DATA>\x01` where the lone byte indicates the padded length which in this case seems to indicate itself? I was able to see this in action by setting up a self contained Docker container using

<details>
<summary>This batch script</summary>

```bash
HOSTNAME=$(hostname)
REALM=domain.local
USERNAME=admin
PASSWORD=password

yum install -y epel-release
yum install -y \
  gcc \
  gssntlmssp \
  krb5-devel \
  krb5-server \
  krb5-workstation \
  python3 \
  python3-devel \
  python3-pip \
  vim

echo -e "127.0.0.1\t$HOSTNAME.$REALM" >> /etc/hosts

cat > /etc/krb5.conf <<EOL
[libdefaults]
  allow_weak_crypto = true
  default_tkt_enctypes = arcfour-hmac-md5
  default_tgs_enctypes = arcfour-hmac-md5
  default_realm = ${REALM^^}
  dns_lookup_realm = false
  dns_lookup_kdc = false

[realms]
  ${REALM^^} = {
    kdc = ${HOSTNAME,,}.${REALM,,}
    admin_server = ${HOSTNAME,,}.${REALM,,}
    supported_enctypes = arcfour-hmac-md5:normal
  }

[domain_realm]
  .${REALM,,} = ${REALM^^}
  ${REALM,,} = ${REALM^^}
EOL

echo -e "*/*@${REALM^^}\t*" > /var/kerberos/krb5kdc/kadm5.acl

# Create the new realm
echo -e "$PASSWORD\n$PASSWORD" | /usr/sbin/kdb5_util create -r ${REALM^^}

# Create the user principal
kadmin.local -q "addprinc -pw $PASSWORD $USERNAME"

# Create the SPNs and add it to the /etc/krb5.keytab
kadmin.local -q "addprinc -randkey host/$HOSTNAME@${REALM^^}"
kadmin.local -q "ktadd -k /etc/krb5.keytab host/$HOSTNAME@${REALM^^}"

kadmin.local -q "addprinc -randkey host/${HOSTNAME^^}@${REALM^^}"
kadmin.local -q "ktadd -k /etc/krb5.keytab host/${HOSTNAME^^}@${REALM^^}"

# Start the KDC service
/usr/sbin/krb5kdc

pip3 install gssapi
```
</details>

From there I ran the following Python script

```python
import gssapi
import socket

kerberos = gssapi.OID.from_int_seq('1.2.840.113554.1.2.2')

username = gssapi.Name('admin@DOMAIN.LOCAL', name_type=gssapi.NameType.user)
c_cred = gssapi.raw.acquire_cred_with_password(username, b'password', usage='initiate', mechs=[kerberos]).creds
s_cred = gssapi.Credentials(usage='accept', mechs=[kerberos])

c = gssapi.SecurityContext(name=gssapi.Name('host@%s' % socket.gethostname(), name_type=gssapi.NameType.hostbased_service),
                           creds=c_cred, mech=kerberos, usage='initiate')
s = gssapi.SecurityContext(creds=s_cred, usage='accept')

c.step(s.step(c.step()))

data = b"<xml>Lots of random data.</xml>"
s_buffer = gssapi.raw.IOV(
    gssapi.raw.IOVBufferType.header,
    data,
    gssapi.raw.IOVBufferType.padding,
    std_layout=False)
gssapi.raw.wrap_iov(s, s_buffer)

enc_header = s_buffer[0].value
enc_data = s_buffer[1].value
enc_padding = s_buffer[2].value

c_buffer = gssapi.raw.IOV(
    (gssapi.raw.IOVBufferType.stream, enc_header + enc_data + enc_padding),
    gssapi.raw.IOVBufferType.data,
    std_layout=False
)
gssapi.raw.unwrap_iov(c, c_buffer)
print(c_buffer[0].value)
```

_Note: This will seg fault on exit, this is an unrelated bug with python-gssapi but doesn't matter in this case._

I can see the output of this is `<HEADER><xml>Lots of random data.</xml>\x01` which seems to indicate both MIT and Heimdal add that byte to indicate the padded length and so far that always seems to be 1. When sending the wrapped data to Windows through WinRM I am sending the value of all 3 buffers which allows MS to decrypt the data correctly. While I haven't verified this yet, I am trying to set up a test where I can see this in action, the decrypted data SSPI produces is `<DATA>\x01` and for WinRM this would be something like `<s:Envelope>...</s:Envelope>\x01`. The WinRM parser doesn't seem to care at all about any junk data after the XML string. I've even tested a plaintext exchange where I sent random bytes after the XML and WinRM just continued along as usual. This can explain why SSPI is still able to decrypt the value from GSSAPI as it just ignores the padding values.

On the opposite side because SSPI does not seem to do any padding, GSSAPI will fall down because it expects that final byte to indicate the length. For WinRM messages that final byte is `>` which means they see the message being padded by 62 bytes. Heimdal will actually fail because it verifies these padded bytes are `0x00` whereas MIT just adjusts the length of the IOV DATA buffer.

Maybe I am meant to use some DCE style process for this exchange but this isn't something I have any knowledge off.

Once again, excellent diagnosis. So, is there a way to pass `GSS_C_DCE_STYLE` to `gss_Init_sec_context()` from Python? That may work, although then again it may not, because it adds an extra half round-trip to the exchange (which probably isn't going to work with HTTP). But: worth a try.

If the behaviour is similar to `GSS_C_DCE_STYLE` then, in your usage, you are correct that you wouldn't need to pass a `PADDING` buffer.

The next question might be, is there an interoperability mode we are missing in MIT where the context establishment is normal, but the wrap tokens look like `GSS_C_DCE_STYLE` (which incidentally has another effect, which is that the length in the header only includes the header length, not the payload). You could test this in the debugger by OR'ing `GSS_C_DCE_STYLE` (`0x1000`) into `ctx->gss_flags` with an already established context.

BTW, it may also be worth emailing dochelp@microsoft.com and/or scouring the SSPI documentation to see if there's a mode that might trigger this behaviour. If you're adventurous you could open the offending process on Windows with WinDbg and set a breakpoint on `{Initialize,Accept}SecurityContextW`.

Looking into [MS-WSMV]:

Length-Field: The Length-Field MUST follow immediately after the previous token. It MUST be a 32- bit unsigned integer that specifies the length of any trailer portion of the Message field. For details, see padding_length as defined in [RFC5246] section 6.2.3.2.

Now, that's talking about TLS but given both protocols use SSPI, perhaps it's applicable to Kerberos. You're saying Length-Field is always the size of the header?

But, not knowing much about the application layer protocol beyond a quick skim of [MS-WSMV], I'd double check that all the length fields are being interpreted correctly and that padding byte isn't hiding somewhere :)

> Once again, excellent diagnosis. So, is there a way to pass GSS_C_DCE_STYLE to gss_init_sec_context() from Python?

Yep, if the DCE extensions are present it's possible to pass that flag into calls to `gss_init_sec_context()`. When reading online about this mode it doesn't really sound like it's what should be used. When analyzing WinRM messages between 2 Windows hosts it follows the standard `ap-req` in the `Authorization` header` and the `ap-pep` from the server as the reply. From there the messages are exchanged in the subsequent HTTP exchanges.

> The next question might be, is there an interoperability mode we are missing in MIT where the context establishment is normal, but the wrap tokens look like GSS_C_DCE_STYLE (which incidentally has another effect, which is that the length in the header only includes the header length, not the payload)

Potentially. When setting up the same code to run on a client using SSPI I've found that the stream equivalent in SSPI `[SecBuffer(SECBUFFER_STREAM, header + data), SecBuffer(SECBUFFER_DATA, NULL)]` also fails saying the token is invalid. This lends to conclusion that using a STREAM buffer to unwrap the messages when RC4 is used is not the right behaviour and MIT and Heimdal are right to not work properly. Potentially MIT should replicate the same behaviour as Heimdal and fail but that's a question for another time.

> You could test this in the debugger by OR'ing GSS_C_DCE_STYLE (0x1000) into ctx->gss_flags with an already established context, before you unwrap a message.

The only time manually OR'ing that flag to the gss_flags works is when using `<IOV HEADER(header) | DATA(data) | PADDING(empty)>` and only if I do it before [this part in kg_unseal_v1_iov](https://github.com/krb5/krb5/blob/99f7ad2831a01f264c07eed42a0a3a9336b86184/src/lib/gssapi/krb5/k5unsealiov.c#L237-L242).

> But, not knowing much about the application layer protocol beyond a quick skim of [MS-WSMV], I'd double check that all the length fields are being interpreted correctly and that padding byte isn't hiding somewhere :)

The length fields are definitely correct, there are technically 2 in the HTTP body, one is the `Length` of the plaintext message after decryption and is part of the MIME data. The other is that 4 byte unsigned integer that denotes the length of the header. I'm fairly certain that part works fine as on Windows I can definitely decrypt the data using the same IOV buffers that were used to wrap the data.

I've looked through the actual payload being sent from WinRM and the data I've adding to the STREAM buffer is definitely the full value. It's taking the remaining bytes in the payload right up to the last `--BOUNDARY--` entry. In any case the decryption process is working just fine, it's the plaintext data that's not fitting what GSSAPI requires. If there were any missing bytes I would have assumed the unwrapping process would fail to decrypt the data and the checksum checks would fail.

To try and get to the bottom of this I've set up the same code to run on Windows and use SSPI to wrap/unwrap the data. When using SSPI directly these are the buffers I use to wrap the data

```
[
    SecBuffer(SECBUFFER_TOKEN, malloc(sizeof(ProtocolSizes.SecurityTrailer))),
    SecBuffer(SECBUFFER_DATA, data),
    SecBuffer(SECBUFFER_PADDING, malloc(sizeof(ProtocolSizes.BlockSize))),
]
```

This is the same as what works for both Heimdal and MIT so I have no troubles there creating it, and having Windows accept it. As mentioned above using the STREAM buffer method will not work for SSPI and it fails. I assume it's because there should be that trailing byte in the message and in this case that's not present. What I've used successfully on Windows instead is

```
[
    SecBuffer(SECBUFFER_TOKEN, header),
    SecBuffer(SECBUFFER_DATA, data),
    SecBuffer(SECBUFFER_PADDING, NULL),
]
```

I've found that the 3rd buffer can be absent or set to `SECBUFFER_DATA` so SSPI is quite leniant in what it accepts. Ultimately this whole setup seems to be a massive edge case where WinRM does not follow the standard STREAM structure and while it would be nice for GSSAPI to act the same I'm not surprised there are some differences.

There's been a lot of conversations and back and forth in this thread I thought it might be best to sum it up as best as I can

* `gss_unwrap` works just fine when AES encryption is used for both MIT and Heimdal
* The RC4 scenario should have a trailing byte `\x01` in the plaintext message but the buffers WinRM uses on the call to SSPI do not include this
    * This causes a problem when using the STREAM unwrapping type for Heidmal, MIT and even SSPI
* When calling SSPI myself with RC4 using the mechanism documented [here](https://docs.microsoft.com/en-us/windows/win32/secauthn/sspi-kerberos-interoperability-with-gssapi) I've found it does add that trailing byte so Heimdal and MIT can unwrap it
    * This is no reflection on the WinRM process but a general observation that SSPI does interop normally and WinRM is doing something special here
* I don't believe I'm missing any data as the decryption works just fine, it's the checks added at the end that fail in particular the padding check
* MIT can unwrap AES and RC4 when using the IOV buffers `<IOV HEADER(header) | DATA(data) | DATA(empty)>`
    * `<IOV HEADER(header) | DATA(data) | PADDING(empty)>` also works but only if you skip the check at [kg_unseal_v1_iov()](https://github.com/krb5/krb5/blob/99f7ad2831a01f264c07eed42a0a3a9336b86184/src/lib/gssapi/krb5/k5unsealiov.c#L237-L242)
    * This means it somewhat follows the same behaviour for SSPI, except the `PADDING` part requires a slight tweak
* For AES Heimdal requires a `PADDING` buffer so the method used for MIT fails
    * Swap `DATA(empty)` for `PADDING(empty)` and Heimdal can now unwrap the data
    * The trouble here is that now the same code for Heimdal will fail on MIT due to that PADDING check mentioned above
* For RC4 I can't get Heimdal to work at all
    * `gss_unwrap` or `gss_unwrap_iov` with the `STREAM` buffer fails because of the end padding byte check
    * `<IOV HEADER(header) | DATA(data) | DATA(empty)>` fails because Heimdal requires a `PADDING` buffer
    * `<IOV HEADER(header) | DATA(data) | PADDING(empty)>` fails because Heimdal requires the `PADDING` buffer to have 1 byte
    * Setting a 0 byte, or anything else in the `PADDING` buffer to satisfy the above will result in a decryption failure

Ultimately what I am probably planning on doing

* Use `gss_unwrap` by default as that works on both Heimdal and MIT
* Determine if there is a way to check if MIT Kerberos is being used at runtime
    * If that's possible use `<IOV HEADER(header) | DATA(data) | DATA(empty)>` which works on MIT with AES and RC4

This means that RC4 won't work on Heimdal at all but really that's no massive loss due to it's weakness and now AES is pretty common in most environments

OK, so perhaps we could modify Heimdal to allow `PADDING` to be absent for the non-DCE case and just assume the data will always be correctly padded (which actually will be the case for RC4 and AES as RC4 is a stream cipher, and the EC field in RFC4121 effectively turns other ciphers into one). We don't have to deal with DES as Heimdal doesn't support it in the IOV APIs (although a note should be made about this).

It seems Microsoft has made the assumption that WinRM will never be used with encryption types that require padding, such as DES. Which indeed may be a fair assumption although it should be documented.

I'll prepare a better fix but, for now, if you just remove the else block in `_gk_verify_buffers()`, does it work?

If I could have swapped my brain in from 2009, I probably would have been able to get to this conclusion earlier but unfortunately it's over 10 years since I had my head in this code.

> If you just remove the else block in _gk_verify_buffers(), does it work?

It works for AES encryption but not for RC4. But it is at least a step forward to aligning the behaviour of MIT and Heimdal when no padding buffer is specified.

We'll get there. Let me take a look.

Where in `_gssapi_unwrap_iov_arcfour()` is it failing?

Looking at `_gssapi_unwrap_iov_arcfour()`, it should work fine without a padding buffer once `_gk_verify_buffers()` is modified as above. If the checksum fails, perhaps there's an implicit padding byte that's not transmitted over the network (although that seems unlikely).

It's failing at [_gssapi_unwrap_iov_arcfour()](https://github.com/heimdal/heimdal/blob/1d4ebc0df798cb1d8edca910b806e55c6c19bccb/lib/gssapi/krb5/arcfour.c#L601) -> [_gssapi_verify_mech_header()](https://github.com/heimdal/heimdal/blob/1d4ebc0df798cb1d8edca910b806e55c6c19bccb/lib/gssapi/krb5/decapsulate.c#L77)  -> [_gsskrb5_get_mech](https://github.com/heimdal/heimdal/blob/1d4ebc0df798cb1d8edca910b806e55c6c19bccb/lib/gssapi/krb5/decapsulate.c#L56). At that point in time `e=0`, `len_len = 3`, `len = 3085`, and `total_len = 47`.

I'm going to have to step away from my computer for a while so I'll probably be a bit slow to reply to any more questions you have sorry.

No worries, I shall investigate.

OK, I think this is a bug in `_gssapi_unwrap_iov_arcfour()` that is completely independent of your use case.

OK, I know this isn't the ideal forum for distributing patches but – could you please try the patch below (in addition to removing the check as before)?

```diff
diff --git a/lib/gssapi/krb5/arcfour.c b/lib/gssapi/krb5/arcfour.c
index 2721abbc8..2a9359f66 100644
--- a/lib/gssapi/krb5/arcfour.c
+++ b/lib/gssapi/krb5/arcfour.c
@@ -1197,15 +1197,21 @@ _gssapi_unwrap_iov_arcfour(OM_uint32 *minor_status,
 	return GSS_S_FAILURE;
     }
 
-    if (IS_DCE_STYLE(context)) {
-	verify_len = GSS_ARCFOUR_WRAP_TOKEN_SIZE +
-		     GSS_ARCFOUR_WRAP_TOKEN_DCE_DER_HEADER_SIZE;
-	if (header->buffer.length > verify_len) {
-	    return GSS_S_BAD_MECH;
+    verify_len = GSS_ARCFOUR_WRAP_TOKEN_SIZE +
+		 GSS_ARCFOUR_WRAP_TOKEN_DCE_DER_HEADER_SIZE;
+    if (header->buffer.length != verify_len)
+	return GSS_S_BAD_MECH;
+
+    if (!IS_DCE_STYLE(context)) {
+	for (i = 0; i < iov_count; i++) {
+	    /* length in header also includes data and padding */
+	    if (GSS_IOV_BUFFER_TYPE(iov[i].type) == GSS_IOV_BUFFER_TYPE_DATA)
+		verify_len += iov[i].buffer.length;
 	}
-    } else {
-	verify_len = header->buffer.length;
+	if (padding)
+	    verify_len += padding->buffer.length;
     }
+
     _p = header->buffer.value;
 
     ret = _gssapi_verify_mech_header(&_p,
```

Unfortunately it doesn't, `verify_len` is `45` (32 + 13) but the actual header is `47` so it fails there. If I was to comment that out it wil then fail at `_gssapi_verify_mech_header()` just like before.

OK, the difference I believe is the "length length", let me investigate further. Strange that it was working on my machine though.

Can you paste in a hex dump of the header please?

Sure it is `60820C0D06092A864886F712010202020111001000FFFFFF3AA30E72F1CD007828D8D3190B1143C8C881D3A4734DA4`.

OK, that's due to the different DER length encodings.

How about this

```diff
diff --git a/lib/gssapi/krb5/arcfour.c b/lib/gssapi/krb5/arcfour.c
index 2721abbc8..ea3dbf7eb 100644
--- a/lib/gssapi/krb5/arcfour.c
+++ b/lib/gssapi/krb5/arcfour.c
@@ -1197,15 +1197,19 @@ _gssapi_unwrap_iov_arcfour(OM_uint32 *minor_status,
 	return GSS_S_FAILURE;
     }
 
-    if (IS_DCE_STYLE(context)) {
-	verify_len = GSS_ARCFOUR_WRAP_TOKEN_SIZE +
-		     GSS_ARCFOUR_WRAP_TOKEN_DCE_DER_HEADER_SIZE;
-	if (header->buffer.length > verify_len) {
-	    return GSS_S_BAD_MECH;
+    verify_len = header->buffer.length;
+
+    if (!IS_DCE_STYLE(context)) {
+	for (i = 0; i < iov_count; i++) {
+	    /* length in header also includes data and padding */
+	    if (GSS_IOV_BUFFER_TYPE(iov[i].type) == GSS_IOV_BUFFER_TYPE_DATA)
+		verify_len += iov[i].buffer.length;
 	}
-    } else {
-	verify_len = header->buffer.length;
+
+	if (padding)
+	    verify_len += padding->buffer.length;
     }
+
     _p = header->buffer.value;
 
     ret = _gssapi_verify_mech_header(&_p,
```

The original patch didn't account for the fact that the size of the DER encoded length itself can be variable (depending on the size of the integer it is encoding).

Fantastic just tried out the changes in https://github.com/heimdal/heimdal/pull/740 and can confirm it not only removes the `PADDING` requirement it also fixes the RC4 decryption for WinRM messages. With those changes I can now use the IOV buffers `<IOV HEADER(header) | DATA(data) | DATA(empty)>` (and the SSPI equivalent) to unwrap messages on Heimdal, MIT, and SSPI for both AES and RC4 encryption. I have no idea how you did it but thank you so much for your help with all this.

My only issue now is finding a nice and simple way to determine the software type behind the GSSAPI libs and the version so I can conditionally use the same buffers when this hits a new release.

Great! Apologies it took me so long to get up to speed with the underlying bug, and thank you for the excellent reports – I'll be using this issue as an example of how to report a bug!

@jaltman will know if there are any 7.x releases planned to which this could be back-ported, otherwise it will be in Heimdal 8.0. I'm not sure exactly what the best way of testing for this is, you could look for a macro that will only be in Heimdal 8.0 (e.g. `GSS_KRB5_IMPORT_RFC4121_CONTEXT_X`) but it's probably better to write a test for the underlying bug. Or, just tell consumers that it won't work with earlier versions of Heimdal (I know that's not a great solution when we haven't cut a release with the bug fix).

No need to apologise you've been fantastic in all this.

Yea it's a tricky situation and I'm sure I'll find some compromise for it all but having the bug fixed for the future is fantastic and will make the whole problem a whole lot easier in the future.

Not sure if relevant, but the GSS_C_MUTUAL_FLAG or using spnego mech would also trigger ap-rep from server afai recall.

Not relevant to this bug :)

It might be worth reaching out to dochelp@microsoft.com to ask why this protocol is not strictly compliant with RFC4121/4757.

Once merged the fix will be cherry-picked to Heimdal-7-1-branch so it will not be forgotten if the is another 7.x release.

> With those changes I can now use the IOV buffers <IOV HEADER(header) | DATA(data) | DATA(empty)>

Out of curiosity, can the empty data buffer be omitted, or do any of the three implementations require it?


@greghudson it depends

* For SSPI, it's not needed, only the `HEADER(header) | DATA(data)` buffers are needed. It also doesn't care if the third buffer is there
* Heimdal (with that PR) is the same as SSPI except if the third buffer is present it can only be `DATA(empty)`, while `PADDING(empty)` works for SSPI it doesn't here
* MIT requires the third buffer to be there and be `DATA(empty)`

So the end result is for compatibility with all 3 three having `HEADER(header) | DATA(data) | DATA(empty)` works with both RC4 and AES encryption.

Where does MIT fail if there is only header and data?  I'm not finding an obvious check.


Looks like it's in [kg_unseal_v1_iov()](https://github.com/krb5/krb5/blob/ebbc6e8e99ee9d5d757411200a6a3173171774df/src/lib/gssapi/krb5/k5unsealiov.c#L239) -> then it fails in [kg_fixup_padding_iov()](https://github.com/krb5/krb5/blob/db245c0d98c8e38a78a2e0b4af40ee23a18aaa96/src/lib/gssapi/krb5/util_crypt.c#L657-L660) because there is not PADDING buffer. I have no idea how it works but the reason why it doesn't fail for RC4 with `DATA(empty)` is because [this check](https://github.com/krb5/krb5/blob/db245c0d98c8e38a78a2e0b4af40ee23a18aaa96/src/lib/gssapi/krb5/util_crypt.c#L652-L655) turns out to be true and it returns `GSS_S_COMPLETE`.

Huh, kg_locate_iov() returns NULL if there is more than one of the specified buffer type.  I may need Luke to explain that; it's a strange contract and there are no comments.


@greghudson looks like a bug likely stemming from an assumption that `kg_fixup_padding_iov()` was only called from `kg_unseal_stream_iov()`.

The default behaviour of `kg_locate_iov()` should still be to return NULL if multiple buffers are found (because we don't want to have multiple header, trailer, or padding buffers). But in `kg_fixup_padding_iov()`, `data` should be set to the *last* data buffer per the comment in `kg_unseal_v1_iov()`.


Oh, and `kg_unseal_v1_iov()` should (if MIT is to support this non-compliant Windows behaviour where padding can be completely omitted for stream ciphers) also treat an absent padding buffer success, not failure.

When writing the initial code for MIT I never envisaged that a padding buffer would be omitted (forcing the wrap tokens to be non-complaint with RFC4121/4757) unless `GSS_C_DCE_STYLE` was set.

A third issue is whether (in both implementations, I think?) we should allow a zero padding buffer to be treated as an absent buffer, for API compatibility with SSPI. This I'm less certain about.

So it sounds like kg_fixup_padding_iov() should:

1. Succeed if padding is absent or zero-length, where it currently fails.  Probably continue to succeed if no data buffer is found, although we don't expect that case.
2. Look for the last data buffer, not the only data buffer.  (This change by itself would break the header | data | data workaround, and is lower-priority.)


> This change by itself would break the header | data | data workaround, and is lower-priority.

I would be concerned if there was a change that broke how this worked today. While technically that third buffer may not be necessary it doesn’t break when using the same setup with both SSPI and (with the PR) Heimdal. So by breaking this scenario it will diverge MIT from what works on both SSPI and Heimdal.

I’m also unsure if you are also suggesting that the empty DATA buffer would also break for AES encryption. If that is the case then this will cause issues for some other libraries I work on that rely on this setup to work with Kerberos message encryption with WinRM.

What makes all these backwards incompatible changes hard to deal with is that I don’t know if a way at runtime to

1. Detect the GSSAPI implementation that is being used
2. Detect the version that is in place

Without this information I can’t determine whether to use the older “workaround” behaviour or the newer proper behaviour when it is available.


If I follow correctly (AFK now) then header | data | data would continue to work as the code path looking for a padding byte in the last data would only be invoked if there is also a padding buffer.

I'm kind to change Heimdal to treat zero-length padding buffers as equivalent to absent padding buffers, because the API contract becomes confusing when GSS_IOV_BUFFER_FLAG_ALLOCATE is set (which allows padding length to be zero on entry, non-zero on exit).

But if there is consensus to change it for the non-allocate case, I will.

I have emailed dochelp, you have all been cc'd.

On the padding issue, I'd propose to add something like this into wrap_iov/unwrap_iov:

```diff
diff --git a/lib/gssapi/krb5/arcfour.c b/lib/gssapi/krb5/arcfour.c
index ffe4e9618..8c3fbc8f8 100644
--- a/lib/gssapi/krb5/arcfour.c
+++ b/lib/gssapi/krb5/arcfour.c
@@ -913,6 +913,14 @@ _gssapi_wrap_iov_length_arcfour(OM_uint32 *minor_status,
     return GSS_S_COMPLETE;
 }
 
+static int
+is_empty_padding_p(gss_iov_buffer_desc *padding)
+{
+    return padding != NULL &&
+       !(GSS_IOV_BUFFER_FLAGS(padding->type) & GSS_IOV_BUFFER_FLAG_ALLOCATE) &&
+       padding->buffer.length == 0;
+}
```

But, I'd rather not. :)

>> This change by itself would break the header | data | data workaround, and is lower-priority.

> I would be concerned if there was a change that broke how this worked today.

"By itself" was the key part of that sentence.  Alongside the other change, it wouldn't break anything.

I'm closing this for now as I've merged the fix to master, and I don't think we want to recognise zero-length padding buffers as equivalent to absent padding buffers. If we do, I'll create a new PR.

> I'm reluctant to change Heimdal to treat zero-length padding buffers as equivalent to absent padding buffers, because the API contract becomes confusing when GSS_IOV_BUFFER_FLAG_ALLOCATE is set (which allows padding length to be zero on entry, non-zero on exit).

For an unwrap padding buffer?  Does that make sense?  I think the existing unwrap_iov can only allocate a DATA buffer when unwrapping a STREAM token.

I was aiming for consistency with SSPI as researched here: https://github.com/heimdal/heimdal/issues/739#issuecomment-656989280


Consistency with SSPI is good. SSPI doesn't have an equivalent of `GSS_IOV_BUFFER_FLAG_ALLOCATE` as far as I can tell. It doesn't make sense to be allocating a padding buffer on unwrap, agreed. I will fix Heimdal.

ad2a35260060d5a03bcd992904a4208cccaad27f will fix `_gk_find_buffer()` (Heimdal's equivalent of `kg_locate_iov()`) to return NULL if an empty padding buffer is passed in and `FLAG_ALLOCATE` is unset.

> SSPI doesn't have an equivalent of GSS_IOV_BUFFER_FLAG_ALLOCATE

They don't but SSPI does have the concept of fixed buffer sizes for certain buffer types that are allocated by the provider. For example the equivalent for `<IOV HEADER(allocate) | DATA(data) | PADDING(allocate)>` in SSPI would be `<SecBufferDesc TOKEN(sizes.cbSecurityTrailer) | DATA(data) | PADDING(sizes.cbBlockSize)>` where `sizes` is the result of [QueryContextAttributes(SECPKG_ATTR_SIZES)](https://docs.microsoft.com/en-us/windows/win32/api/sspi/nf-sspi-querycontextattributesw) which returns [SecPkgContext_Sizes](https://docs.microsoft.com/en-us/windows/win32/api/sspi/ns-sspi-secpkgcontext_sizes).

How that applies to unwrap I'm not really sure, in every scenario I've worked with with SSPI it just takes in an unallocated `SecBuffer` and SSPI will changed the pointer to the memory address of the data that was decrypted in place.