Heimdal KDC can produce PKINIT CMS SignedData that OpenSSL cannot verify

PKINIT in Diffie-Hellman mode uses CMS SignedData (RFC 5652 section 5.1) sequences in both directions.  A CMS SignedData object is authenticated by (usually one) SignerInfo sequence (section 5.3).  A SignerInfo sequence contains a digest algorithm, a signature algorithm, a public key signature, and sets of signed and unsigned attributes.  The signed attributes contain the content type and a digest of the signed content.  The public key signature is over the DER representation of the signed attributes.

PKINIT (RFC 4556) specifies a supportedCMSTypes field in the AuthPack sent from the client to the KDC.  supportedCMSTypes is defined as "List of CMS algorithm [RFC3370] identifiers that identify key transport algorithms, or content encryption algorithms, or signature algorithms supported by the client in order of (decreasing) preference."  Key transport and content encryption algorithms are not relevant to Diffie-Hellman mode, leaving just signature algorithms.

It appears that Heimdal is the only major KDC implementation to pay attention to supportedCMSTypes.  In addition to looking for a signature algorithm, Heimdal's KDC also looks for a digest algorithm (which RFC 4556 says nothing about).  For RSA certificate keys, Heimdal defaults to sha512WithRSAEncryption for the signature algorithm and SHA-512 for the digest, if it can't find something in the clients supportedCMSTypes.  (However, if the client sends no supportedCMSTypes at all, Heimdal assumes that it is an old client that supports only SHA-1 and sha1WithRSAEncryption.)

If the client presents one or more signature algorithms and the first one is not sha512WithRSAEncryption, and no digest algorithms (because RSA 4556 doesn't say to do so), Heimdal will (for an RSA certificate key) choose SHA-512 as the digest algorithm and the client's most preferred signature algorithm--let's say sha256WithRSAEncryption for the sake of example.  The SignerInfo sequence will have SHA-512 as the digestAlgorithm field, sha256WithRSAEncryption as the signatureAlgorithm field, SHA-512 in the digest in the signed attributes, and a public key signature over the signed attributes computed using SHA-256.

OpenSSL's CMS code cannot verify such a SignerInfo sequence.  CMS_SignerInfo_verify() ignores the signatureAlgorithm field, and uses the digestAlgorithm field and the certificate public key in the course of its EVP_DigestVerify operation.  (I'm not sure why this operation has "Digest" in the name since it is a public key signature verification.)  This has the effect of trying to verify a sha256WithRSAEncryption signature using sha512WithRSAEncryption.

RFC 5652 says digestAlgorithm "identifies the message digest algorithm, and any associated parameters, used by the signer."  This description doesn't clearly indicate whether that is the digest used in the signed attributes or the digest that comprises part of the signature algorithm--but the former makes more sense, and section 11.2 says that the message-digest attribute "is computed using the signer's message digest algorithm."  So the object Heimdal produces in this case is arguably valid, and OpenSSL is likely the guilty party here.  Still, I think Heimdal went in a weird direction by using supportedCMSTypes for digest algorithms, and it would be better if it instead picked a digest algorithm matching its chosen signature algorithm.

MIT cross-reference: https://github.com/krb5/krb5/pull/1254 .  @jrisc indicated an intention to communicate this issue to the OpenSSL developers; I have not seen an issue filed on their repository, but will cross-reference it here if I see one.  I will attach a test program demonstrating the issue.

[htest.c.txt](https://github.com/heimdal/heimdal/files/9043356/htest.c.txt)

Build this with against the Heimdal -lhx509 -lasn1 and the OpenSSL -lcrypto.  (I had to include the Heimdal build tree include directory, because hx509.h references heimbase.h which references config.h which isn't installed.)  Put a certificate and private key in `user.pem` in the current directory (I created mine with hxtool issue-certificate).  Changing the `#if 1` to `#if 0` will demonstrate success; otherwise CMS_verify() will fail and the program will exit with status 1.

Could you please raise an issue against openssl?

> Could you please raise an issue against openssl?

https://github.com/openssl/openssl/issues/18729 is now opened

> and uses the digestAlgorithm field and the certificate public key in the course of its EVP_DigestVerify operation. (I'm not sure why this operation has "Digest" in the name since it is a public key signature verification.) 

To answer the parenthetical, EVP_DigestVerify pairs with EVP_DigestSign, which is in essence "take a digest of some data and perform a signature over the digest value."  Absent that context it's a quite weird name, yes, and the naming of the pair is probably suboptimal.  They date from 2006 (https://github.com/openssl/openssl/commit/91c9e62123febf74866fa17983e6068ab4962bd7) and the "better" names EVP_Sign/EVP_Verify were already taken.